.pie-de-pagina {
  background-color: #212121;
  color: #a0a0a0;
  padding: 1.875rem 0;
  font-family: "Ruluko", sans-serif;
}

.contenedor-pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 68.75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.pie-izquierda {
  display: flex;
  align-items: center;
  gap: 0.938rem;
}

.logo-pie {
  height: 1.875rem;
}

.pie-derecha {
  display: flex;
  gap: 1.563rem;
}

.pie-de-pagina a {
  color: #e0e0e0;
  text-decoration: none;
  font-family: "Ysabeau Office", serif;
}

.pie-de-pagina a:hover {
  text-decoration: underline;
  color: white;
}
